<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1>Edit Flights</h1>
  <form action="/flights/<%= flight._id %>" method="POST">
    <label for="airline">Airline:</label>
    <select name="airline" id="airline">
      <option value="American" <%= flight.airline === 'American' ? 'selected' : '' %>>American</option>
      <option value="Southwest" <%= flight.airline === 'Southwest' ? 'selected' : '' %>>Southwest</option>
      <option value="United" <%= flight.airline === 'United' ? 'selected' : '' %>>United</option>
    </select>
    <label for="airport">Airport:</label>
    <select name="airport" id="airport">
      <option value="AUS" <%= flight.airport === 'AUS' ? 'selected' : '' %>>AUS</option>
      <option value="DFW" <%= flight.airport === 'DFW' ? 'selected' : '' %>>DFW</option>
      <option value="DEN" <%= flight.airport === 'DEN' ? 'selected' : '' %>>DEN</option>
      <option value="LAX" <%= flight.airport === 'LAX' ? 'selected' : '' %>>LAX</option>
      <option value="SAN" <%= flight.airport === 'SAN' ? 'selected' : '' %>>SAN</option>
    </select>
    <label for="flightNo">Flight #:</label>
    <input type="number" name="flightNo" id="flightNo" min="10" max="9999" value="<%= flight.flightNo %>">
    <label for="departure">Flight Date:</label>
    <input type="datetime-local" name="departs" id="departure" value="<%= flight.departs.toISOString().slice(0, 16) %>">
    <button type="submit">Save flight</button>
  </form>
</main>


<%- include('../partials/footer') %>
