<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Flight Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Flight #:</div>
    <div><%= flight.flightNo %></div>
    <div>Departs:</div>
    <div><%= flight.departs %></div>
    <a href="../flights/<%= flight._id %>/edit">Edit</a>
    <h2>List of Tickets</h2>
<ul>
  <% flight.tickets.forEach(ticket => { %>
    <li>Ticket ID: <%= ticket._id %></li>
    <li>Seat: <%= ticket.seat %></li>
    <li>Price: <%= ticket.price %></li>
  <% }) %>
  </ul>
  <a href="/tickets/new">here</a>
</section>

<p>show</p>
</main>

<%- include('../partials/footer') %>